In [2]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [6]:
q_df.fillna(value = 'others', inplace = True)
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [7]:
#非順序類別，使用get_dummies
sexEncode = pd.get_dummies(q_df[['Sex']])
new_df = pd.concat([q_df, sexEncode], axis=1)
new_df

      Sex Profession  Sex_female  Sex_male
0    male    teacher           0         1
1    male   engineer           0         1
2  female     others           1         0
3  female   engineer           1         0